---
import AboutMe from '../components/AboutMe.astro'
import Badge from '../components/Badge.astro'
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import SocialPill from '@/components/SocialPill.astro'
import Briefcase from '@/components/icons/Briefcase.astro'
import CodeIcon from '@/components/icons/Code.astro'
import GitHubIcon from '@/components/icons/GitHub.astro'
import LinkedInIcon from '@/components/icons/LinkedIn.astro'
import MailIcon from '@/components/icons/Mail.astro'
import ProfileCard from '@/components/icons/ProfileCard.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="Porfolio de Fabian Alvarado Donoso - Desarrollador y Programador Web"
  description="Creador de aplicaciones únicas por el día, noob fps gamer por la noche."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-36 mb-4"
        src="/fabianalvaradodonoso.webp"
        alt="fabian photo"
      />
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy Fabian!<a
          href="https://linkedin.com/in/FabianAlvaradoDonoso"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span>+2 años de experiencia.</span><span
          class="text-yellow-800 dark:text-yellow-200"
        >
          Desarrollador Web</span
        >.
        <span class="text-red-800 dark:text-red-200"> De Santiago, Chile</span>.

        <span class="text-sky-800 dark:text-sky-200"
          >Creador de aplicaciónes unicas por el día, FPS gamer por la noche.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://linkedin.com/in/FabianAlvaradoDonoso">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/FabianAlvaradoDonoso">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:fabian.alvarado1008@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          fabian.alvarado1008@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <ProfileCard class="size-7" />
        Sobre mi
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
