---
const personalImageAlt = 'Fabian Alvarado'
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo <strong>Fabian Alvarado Donoso</strong>. La tecnología siempre ha
      sido mi pasión, y esa motivación me impulsó a adentrarme en el mundo de la
      programación, donde ya cuento con tres años de experiencia.
    </p>

    <p>
      <strong
        >Mi trabajo se enfoca principalmente en el desarrollo web, aunque
        también he colaborado en proyectos de aplicaciones de escritorio</strong
      >. He implementado automatizaciones para mejorar la eficiencia de
      procesos, tanto internos como de cara al cliente. Además, he participado
      en todo el ciclo de desarrollo de las aplicaciones, incluyendo la
      configuración de infraestructura.
    </p>

    <p>
      Más recientemente, me he adentrado en el ámbito de la <strong
        >observabilidad</strong
      >, aplicando estos conocimientos para optimizar la calidad de las
      soluciones que desarrollo.
    </p>
  </div>
</article>
