---
import ExperienceItem from './ExperienceItem.astro'
const EXPERIENCE = [
  {
    date: 'Actualmente...',
    title: 'Desarrollador Fullstack Junior',
    company: 'Grant Thornton Chile',
    description:
      'Cree multiples aplicaciones web para la empresa, utilizando tecnologias como React, NodeJS, FastAPI, Flask, entre otras. Tambien cree multiples scripts para automatizar tareas de la empresa. Ademas de diseñar las arquitecturas de las aplicaciones.'
  },
  {
    date: 'Enero 2020',
    title: 'Desarrollador RPA',
    company: 'Apiux Technología',
    description:
      'Encargado de crear multiples robots para automatizar tareas de la empresa, utilizando tecnologias como UiPath, Automation Anywhere y Python.'
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
